html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Pelican;
  src: url('/fonts/PelicanRegular.ttf');
}

/* Page layout */
.container {
  min-height: 100vh;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/background.jpeg');
  background-size: cover;
  overflow-y: auto;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: scroll;
}

/* Navbar */
.navbar {
  font-size: 22px;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
}

.pageButtons:hover {
  cursor: pointer;
  color: #c49260;
  transition: ease .2s;
}

/* Home page */

.homeContainer {
  height: 100vh;
}

.homeTitle {
  padding-top: 3rem;
  font-family: 'Pelican';
  font-size: 56px;
  text-align: center;
  color: #444444;
}

.homeGraphic {
  height: 100%;
  position: relative;
  padding-bottom: '2rem'
}

/* Bio page */
.bioTitle {
  padding-top: 1rem;
  padding-left: 2.5rem;
  font-size: 55px;
  color: #c78d5b;
}

.bioGraphic {
  height: 100%;
  /* position: relative; */
}

.bioCopy {
  padding: 1rem;
}

/* Large devices (laptops/desktops, 1080 and up) */
@media only screen and (min-width: 1080px) {
  .container {
    min-height: 100vh;
    height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url('/background.jpeg');
    background-size: cover;
  }

  .navbar {
    font-size: 22px;
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1080px;
    margin: auto;
  }
  
  .pageContainer {
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 100%;
    margin: auto;
    overflow: scroll;
  }

  .pageButtons {
    padding-right: 5rem;
  }


  .homeContainer {
    overflow: hidden;
  }

  .home {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    margin: auto;
    overflow: hidden;
  }

  .homeTitle {
    flex-basis: 50%;
    padding-top: 5rem;
    font-family: 'Pelican';
    font-size: 90px;
    color: #444444;
  }

  .homeGraphic {
    flex-basis: 50%;
    height: 100vh;
    position: relative;
    padding-bottom: '2rem';
  }

  .image {
    /* object-fit: cover !important; */
    flex-basis: 50%;
    height: 100vh;
    position: relative;
    min-width: 110% !important;
    margin-left: -50px !important;
    padding-bottom: 5rem !important;
  }
}


