/* News page */

.newsContainer {
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.newsCopyContainer {
  flex-direction: column;
  padding: 1rem;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  color: #933333;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}

.newsTitle {
  background-color: #933333;
  font-size: 22px;
  font-weight: 500;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: fit-content;
  color: white;
}

.item {
  flex-direction: row;
}

.bullet {
  color: #933333;
  /* flex-basis: 5%; */
  padding-right: 1rem;
}

.newsGraphicContainer {
  flex-direction: column;
  position: relative;
}

.bgImage {
  width: 100%;
  object-fit: cover;
}

.bottomImage {
  padding-top: 2rem;
}

/* Large devices (laptops/desktops, 1150 and up) */
@media only screen and (min-width: 1150px) {
  .newsContainer {
    flex-direction: row;
    width: 1150px;
    height: 100%;
    margin: auto;
    overflow: hidden;
  }

  .newsCopyContainer {
    flex-basis: 40%;
    padding-right: 3rem;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 4rem;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  .newsCopyContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

  .newsGraphicContainer {
    flex-basis: 60%;
    justify-content: space-between;
  }

  .bottomImage {
    padding-top: 4rem;
  }

}