/* Sanity Content styles */

.sanityBlockquote {
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 18px;
  border-left-width: 3px;
  border-color: #933333;
}

.sanityList ul {
  margin-block-start: 0rem;
}

.sanityBlock {
  flex-direction: column;
}

.sanityBlockCopy {
  padding-bottom: .5rem;
}